*
!foot/
!foot/**
!nvim/
!nvim/**
!sway/
!sway/**
!tmux/
!tmux/**
!waybar/
!waybar/**
!zsh/
!zsh/**
zsh/zsh-syntax-highlighting/
!mako/
!mako/**
!shell/
!shell/**
!alacritty/
!alacritty/**
!darkman/
!darkman/**
!home-manager/
!home-manager/**
!.gitignore
!git
