* {
    border: none;
    border-radius: 0;
    min-height: 24px;
    margin: 0;
    padding: 0;

    /* font-family: "Monospace"; */
    font-family: Iosevka;
    font-weight: bold;
    font-size: 14px;
    /* color: #0f0f0f; */
    color: #373737;
}

window#waybar {
    background-color: #c4c4c4;
    border: 1px solid rgba(40, 40, 40, 0.25);
}

label {
    padding-top: 1px;
    padding-left: 7px;
    padding-right: 7px;
}

label.module {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

button,
.timer-off
{
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(0, 0, 0, 0.2);
}

button.focused,
#window,
#language,
#mode,
.timer-on
{
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.10);
}

button.urgent {
    background-color: #aa8888;
    color: black;
}

/* no option to completely hide these */
#tags button:not(.occupied):not(.focused) {
    opacity: 0.4;
}

